* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.dark {
    background:  #283747;
    color: #d0d3d4;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 34px 0;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}